*{
    margin: 0;
    padding: 0;
}

/* Clase screen general para pantallas*/
.screen{
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/* Pantallas con respectivo bg */
.screen1{
    background-image: url(/img/bg/firstbg.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.screen2{
    background-image: url(/img/bg/secondbg.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.screen3{
    background-image: url(/img/bg/thirdbg.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Titulo de la seccion 1 */
.section1-title{
    width: 400px;
    height: 100px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Contenedor Pilotos */

.container-riders{
    width: 90%;
    height: 50%;
    border: 1px solid rgb(143, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-selection{
    width: 90%;
    height: 50%;
    border: 1px solid rgb(177, 177, 177);
}

.img-riders{
    width: 120px;
    height: 120px;
}
/* Para que la imagen de rider tenga el nombre debajo centrado */
.rider-list-screen2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-selection{
    display: flex;
    align-items: center ;
    justify-content: space-around;
    /* border: 1em solid blue; */
}

.container-player{
    width: 300px;
    height: 300px;
    /* border: 0.1em solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.box-player{
    width: 15em;
    height: 50%;
    /* border: 0.1em solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats{
    width: 100%;
    height: 30%;
    /* border: 0.1em solid green; */
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.5em;
}



/* Btn Fight */

.btn-fight{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen3 .box-player{
    height: 30em;
}


.selected {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


